LogicApp-pause_resume_synapse/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_egg_la_pause_resume_synapse_dev_name": {
            "defaultValue": "egg-la-pause_resume_synapse-dev",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_egg_la_pause_resume_synapse_dev_name')]",
            "location": "uksouth",
            "identity": {
                "principalId": "ed32553b-dfa8-4f87-832d-b9d4059d0a85",
                "tenantId": "74454c60-d934-47d9-97d3-70b915f87564",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "ResourceGroup": {
                            "defaultValue": "ra-egg-dev",
                            "type": "String"
                        },
                        "SQLServer": {
                            "defaultValue": "egg-sql-dev",
                            "type": "String"
                        },
                        "SubscriptionId": {
                            "defaultValue": "f669e3e1-7c82-46d4-ac02-1374e4765275",
                            "type": "String"
                        },
                        "SynapseSQL": {
                            "defaultValue": "egg-sqldw-dev",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "Action": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Delay": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 30,
                                    "unit": "Second"
                                }
                            }
                        },
                        "HTTP": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroup')}/providers/Microsoft.Sql/servers/@{parameters('SQLServer')}/databases/@{parameters('SynapseSQL')}/@{triggerBody()?['Action']}?api-version=2014-04-01-preview"
                            }
                        },
                        "HTTP_-_Return_Response": {
                            "runAfter": {
                                "Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "@{triggerBody().callBackUri}"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "FinishLoop",
                                        "type": "boolean",
                                        "value": false
                                    }
                                ]
                            }
                        },
                        "Until": {
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Set_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "FinishLoop",
                                                "value": true
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Get_DW_State": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Delay_2": {
                                                "runAfter": {},
                                                "type": "Wait",
                                                "inputs": {
                                                    "interval": {
                                                        "count": 30,
                                                        "unit": "Second"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "or": [
                                            {
                                                "equals": [
                                                    "@body('Get_DW_State').properties.status",
                                                    "Paused"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@body('Get_DW_State').properties.status",
                                                    "Online"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Get_DW_State": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('SubscriptionId')}/resourceGroups/@{parameters('ResourceGroup')}/providers/Microsoft.Sql/servers/@{parameters('SQLServer')}/databases/@{parameters('SynapseSQL')}?api-version=2014-04-01"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(variables('FinishLoop'), true)",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}